@page "/book"
@using read2book.Services
@inject IBookService BookService
@inject IJSRuntime JsRunTime

<div class="row">
    <div class="col-md-12">
        <h1>My Readed Books List</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        @if(bookCount>0)
        {
            <strong>
                <em>My Readed Books Count: @bookCount </em>
            </strong>
        }
    </div>
</div>
@if(BookList==null)
{
    <em>Loading</em>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-info">
                <th class="w-p-20">Name</th>
                <th class="w-p-15">Author</th>
                <th class="w-p-10">Begin Date</th>
                <th class="w-p-10">End Date</th>
                <th class="w-p-10">Page Count</th>
                <th class="w-p-20">Abstract</th>
                <th class="text-center w-p-15">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in BookList)
            {
            <tr>
                <td class="w-p-20">@(book.Name.Length > 38 ? book.Name.Substring(0, 35) + " ..." : book.Name)</td>
                <td class="w-p-15">@(book.Author.Length > 38 ? book.Author.Substring(0, 35) + " ..." : book.Author)</td>
                <td class="w-p-10">@book.BeginToReadDate.ToShortDateString()</td>
                <td class="w-p-10">@(book.EndToReadDate.HasValue ? book.EndToReadDate.Value.ToShortDateString(): "Continue")</td>
                <td class="w-p-10">@book.PageCount</td>
                <td class="w-p-15">@(book.Abstract.Length > 38 ? book.Abstract.Substring(0, 35) + " ..." : book.Abstract)</td>
                <th class="text-center w-p-10">
                    <a href="@($"/detail/{book.Id}")"  class="btn btn-xs btn-info">
                        <i class="fa fa-info-circle"></i><span class="hidden-sm hidden-xs" style="margin-left: 5px;">Detail</span>
                    </a>
                    <a href="@($"/edit/{book.Id}")"  class="btn btn-xs btn-primary">
                       <i class="fa fa-pencil-square-o"></i><span class="hidden-sm hidden-xs" style="margin-left: 5px;">Edit</span>
                    </a>
                    <button class="btn btn-xs btn-danger" @onclick="@(() => Delete(book.Id))"><i class="fa fa-trash-o"></i><span class="hidden-sm hidden-xs" style="margin-left: 5px;">Delete</span></button>
                </th>
            </tr>
            }
        </tbody>
    </table>
}

@code{

    private  List<read2book.Data.Book> BookList;
    
    private int bookCount;
    protected override void OnInitialized()
    {
        BookList= BookService.GetAllBooks();
        bookCount=BookList.Count();
    }
    private async void Delete(int id){
        var result= await JsRunTime.InvokeAsync<bool>("MyLib.Confirm");
        if(result)
        {
            BookService.DeleteBook(id);
            BookService.Save();
            await JsRunTime.InvokeVoidAsync("MyLib.Reload");
        }
    }
}