@page "/detail/{id:int}"
@using read2book.Services
@inject IBookService BookService
<div class="row">
    <h2 class="col-md-6 dl-horizontal">Book Detail</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top" src="/images/book.jpg" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title">@model.Name</h1>
                <h5>
                   By <i>@model.Author</i>
                </h5>
                <div class="row">
                    <div class="col-6 text-left">
                        <p>Begin Reading Date: @model.BeginToReadDate</p>
                    </div>
                    @if(model.EndToReadDate!=null)
                    {
                        <div class="col-6 text-right">
                            <p>End Read Date: @model.EndToReadDate</p>
                        </div>
                    }
                </div>
                <div class="card-text text-right">
                   <strong>Page Count</strong>
                   <span class="badge badge-primary badge-pill">
                       @model.PageCount
                    </span>
                </div>
                <strong class="card-text">
                    Abstract
                </strong>
                <p class="card-text">@model.Abstract</p>
            </div>
            <div class="card-text text-right">
                <div class="btn-group" role="group" style="margin-right: 10px;">
                    <a href="@($"/Edit/{model.Id}")" class="btn btn-sm btn-primary" role="button" >
                        <i class="fa fa-pencil-square-o"></i>
                        <span style="margin-left: 5px;">Edit</span>
                    </a>
                    <a href="/book" class="btn btn-sm btn-warning" role="button">
                        Back to list
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



@code{
    [Parameter]
    public int Id { get; set; }
    private read2book.Data.Book model;
    
    protected override void OnInitialized()
    {
        model= BookService.GetBook(Id);
    }


}